<div class="container">
    <div class="img-col">
        <img style="margin-left:50px;" src="assets/img/Tamara.jpg" widht="400" height="250" />
    </div>
    <div class="text-col">
    <h2 style="text-align:left; margin-left: 15px;">Tamara Radulović</h2>
    <p style="text-align:left;margin-left: 15px;">Broj indeksa: IT61-2018</p>
    <p style="text-align:left;margin-left: 15px;">Fakultet tehničkih nauka</p>
    <p style="text-align:left;margin-left: 15px;">Inženjerstvo informacionih sistema</p>
    </div>
</div>
