<head>
    <title>O nama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" ref="css/style.css">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Razvoj višeslojnih aplikacija</h1>
                </div>
                <div class="content">
                    <p></p>
                    <h3>Cilj predmeta</h3>
                    <p></p>
                    <p>Cilj nastavnog predmeta je obrazovanje studenata u oblasti razvoja višeslojnih aplikacija i 
                    savlađivanje metoda i tehnika analize, projektovanja i implementacije. 
                    Posebna pažnja posvetiće se specifičnostima razvoja višeslojnih aplikacija koje karakteriše 
                    skalabilnost i koje se izvršavaju u distribuiranom okruženju.
                    Slušaoci predmeta će tokom pohađanja nastave steći neophodna znanja o
                    metodama i tehnikama razvoja višeslojnih aplikacija i biti osposobljeni za njihovu 
                    primenu u svim fazama razvoja softvera - od analize sistema do uvođenja razvijenih rešenja u upotrebu.
                    Isto tako, studenti će steći veštine potrebne za korišćenja odabranih razvojnih okruženja.</p>
                </div>
            </div>
            <div class="image-section">
                <img src="assets/img/angular.jpg">
            </div>
        </div>
    </div>
</body>